.header {
  max-width: 1180px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 50;
}

.logo {
  display: flex;
}

.logo img {
  margin: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-menu a{
  padding: 0.5rem 1rem;
  color: hsl(273, 4%, 51%);
  text-transform: uppercase;
  font-weight: bold;
}

.nav-menu li:last-of-type a {
  color: hsl(256, 26%, 20%);
  border: 2px solid hsl(256, 26%, 20%);
  margin-left: 1rem;
  padding: 1rem 3rem;
}